.hero-section {
  color: white;
  display: flex;
  width: 100%;
  height: 100vh;

  background-color: #2f2f2f;
}
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
  }
}
